/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Dosis', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

.btn-blue {
    color: white;
    background-color: #0061ff;
    padding: 5px 15px;
    font-weight: 400;
    display: inline-block;
}

.container-jf {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 65%;
    margin: 0 auto;
}

.container-offer {
    width: 85%;
    margin: 30px auto 50px auto;
}

.narrow-col {
    width: 35%;
}

.large-col {
    width: 65%;
}

h2 {
    font-size: 50px;
}

/* header */

header {
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

header a {
    text-decoration: none;
    color: inherit;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header ul {
    display: flex;
}

header li {
    padding: 0 15px;
    font-weight: 600;
}

/* main */

/* jumbotron */

.jumbotron {
    margin-top: 80px;
    position: relative;
    background-color: #b4d0e7;
}

.jumbotron .container-jf {
    position: relative;
    left: 0;
    top: 60px;
}

h1 {
    font-size: 85px;
}

.jumbo-flex {
    display: flex;
    margin-top: 20px;
}

.jumbo-flex .narrow-col {
    padding-right: 40px;
}

.jumbo-flex .large-col {
    padding: 0 20px 0 10px;
}

.narrow-col .btn-blue {
    margin-top: 20px;
    margin-bottom: 10px;
}

.narrow-col p {
    font-size: 18px;
    font-weight: 600;
}

.narrow-col i {
    margin-top: 40px;
    font-size: 40px;
}

/* section 1 */

.first-section {
    padding-top: 100px;
}

/* fake checkbox */

.check-border::before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 4px solid  #106bff ;
    margin-right: 3px;
    vertical-align: middle;
}

.check-noborder::before {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid  #dfdfe2;
    margin-right: 3px;
    margin-left: 10px;
    vertical-align: middle;
}

.fake-checkbox {
    margin-top: 40px;
    margin-bottom: 30px;
    vertical-align: middle;
}

/* offer columns */

.offer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offer-col {
    width: 30%;
    border: 1px solid #d4d4d7;
}

.people {
    text-align: center;
    padding: 7px 0;
    border-bottom: 1px solid #d4d4d7;

}

.offer-col h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.price {
    font-weight: bold;
}

.additional-info {
    color: #697886;
    margin-top: 10px;
    margin-bottom: 30px;
}

.space {
    margin: 20px 0;
}

.btn-col {
    text-align: center;
    background-color:#0061ff;
    color: white;   
    width: 85%;
    margin: 0 auto;
    padding: 5px 0;
}

.buy-now {
    margin: 20px 0;
}



